[Unit]
Description=Gunicorn instance to serve a website
After=network.target

[Service]
User=webhost
Group=www-data
WorkingDirectory=/home/webhost/website/app
Environment="PATH=/home/webhost/website/app/.env/bin:/usr/bin"
ExecStart=/home/webhost/website/app/.env/bin/gunicorn --workers 2 --bind unix:website.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
