/*
  Body Styling
*/
body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: "menlo", "andale mono", "courier new", sans-serif;
}

/*
  Title Styling
*/
.title {
  font-size: 12pt;
  color: #595959;
  text-align: center;
  margin-top: 40pt;
  margin-bottom: 10pt;
  margin-left: 0;
  margin-right: 0;
}

.title a, .title a:visited {
  color: #595959;
}

/*
  Subtitle Styling
*/
.subtitle {
  font-size: 10pt;
  color: #999999;
  text-align: center;
  margin-top: 0;
  margin-bottom: -10pt;
  margin-left: 0;
  margin-right: 0;
}

/*
  Link Styling
*/
a, a:visited {
    text-decoration: none;
    color: #5A88BF;
}

/*
  Text Post Styling
*/
.text_post {
  display: block;
  font-size: 10pt;
  color: #595959;
  text-align: left;
  line-height: 1.5;
  margin-top: 45pt;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.text_post .text {
  margin-bottom: 15pt;
}

p.md_header {
  font-weight: bold;
}

/*
  Image Post Styling
*/
.image_post {
  margin-top: 45pt;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.image_post .image_link_div_fuck_css {
  text-align: center;
  margin-bottom: 15pt;
}

.image_post .image_link {
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.image_post img {
  max-height: 380pt;
  max-width: 100%;
}

/*
  Video Post Styling
*/
.video_post {
  text-align: center;
  width: 100%;
  margin-top: 45pt;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.video_post video {
  max-height: 380pt;
  max-width: 100%;
  margin-bottom: 15pt;
}

/*
  Recording Post Styling
*/
.recording_post {
  text-align: center;
  width: 100%;
  margin-top: 45pt;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.recording_post video {
  max-height: 380pt;
  max-width: 100%;
  margin-bottom: 15pt;
}

/*
  Caption Styling
*/
.caption {
  display: block;
  font-size: 10pt;
  color: #595959;
  text-align: center;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 5pt;
  margin-left: auto;
  margin-right: auto;
}

/*
  Instrumentation Styling
*/
.instrumentation {
  font-size: 10pt;
  color: #999999;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5pt;
  margin-left: 0;
  margin-right: 0;
}

/*
  Duration Styling
*/
.duration {
  font-size: 10pt;
  color: #999999;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/*
  Location Styling
*/
.location {
  font-size: 10pt;
  color: #999999;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5pt;
  margin-left: 0;
  margin-right: 0;
}

/*
  Date Styling
*/
.date {
  font-size: 10pt;
  color: #999999;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/*
  Permalink Styling
*/
.permalink {
  font-size: 16pt;
  font-family: "menlo", "andale mono", "courier new", sans-serif;
  text-align: center;
  margin-top: 3pt;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/*
  Footer Image Styling
*/
.footer_image {
  display: block;
  width: 40px;
  margin-top: 20pt;
  margin-bottom: 40pt;
  margin-left: auto;
  margin-right: auto;
}

/*
  Responsive Sizing
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text_post {
    max-width: 80%;
  }

  .image_post, .video_post, .recording_post {
    width: 80%;
  }

  .image_post .caption, .video_post .caption, .recording_post .caption {
    max-width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .text_post {
    max-width: 80%;
  }

  .image_post, .video_post, .recording_post {
    width: 80%;
  }

  .image_post .caption, .video_post .caption, .recording_post .caption {
    max-width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .text_post {
    max-width: 60%;
  }

  .image_post, .video_post, .recording_post {
    width: 80%;
  }

  .image_post .caption, .video_post .caption, .recording_post .caption {
    max-width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .text_post {
    max-width: 40%;
  }

  .image_post, .video_post, .recording_post {
    width: 60%;
  }

  .image_post .caption, .video_post .caption, .recording_post .caption {
    max-width: 60%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .text_post {
    max-width: 30%;
  }

  .image_post, .video_post, .recording_post {
    width: 60%;
  }

  .image_post .caption, .video_post .caption, .recording_post .caption {
    max-width: 60%;
  }
}
