<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Info -->
        <title>{display_title} | error</title>

        <!-- Icons -->
        <link rel="icon" href="../icons/favicon-{icon_version}.png">
        <link rel="shortcut icon" href="../icons/favicon-{icon_version}.png">
        <link rel="apple-touch-icon" href="../icons/apple-touch-icon-{icon_version}.png">
        <link rel="apple-touch-icon-precomposed" href="../icons/apple-touch-icon-{icon_version}.png">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="../styles/error.css">
    </head>
    <body>
        <div role="main" class="centered">&#x1F937;&#x200D;&#x2642;&#xFE0F;</div>
    </body>
</html>
