<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Info -->
    <title>{page_title}</title>

    <!-- Open Graph -->
    <meta property="og:title" content="{page_title}">
    {og_preview}

    <!-- Icons -->
    <link rel="icon" href="../icons/favicon-{icon_version}.png">
    <link rel="shortcut icon" href="../icons/favicon-{icon_version}.png">
    <link rel="apple-touch-icon" href="../icons/apple-touch-icon-{icon_version}.png">
    <link rel="apple-touch-icon-precomposed" href="../icons/apple-touch-icon-{icon_version}.png">

    <!-- Styles -->
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body role="main">
    <!-- Header -->
    <p class="title">{display_title}</p>
    <p class="subtitle">{post_page_subtitle}</p>

    <!-- Post -->
    {post}

    <!-- Footer -->
    <div>
        <img class="footer_image" src="../icons/favicon-{icon_version}.png">
    </div>

    <!-- Video Control Script -->
    <script>
        function showVideoControls(video_element) {
            video_element.controls = true;
        }
    </script>
  </body>
</html>
