<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{description}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{title}">
    {og_preview}
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="icon" href="../icons/favicon.png">
    <link rel="shortcut icon" href="../icons/favicon.png">
    <link rel="apple-touch-icon" href="../icons/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="../icons/apple-touch-icon.png">
  </head>
  <body role="main">
    <p class="title"><a href="/">{title}</a></p>
    <p class="subtitle">{description}</p>
{post}
    <div>
        <img class="footer-image" src="../icons/favicon.png">
    </div>
  </body>
</html>
