<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content="{description}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="icon" href="../icons/icon.png">
    <link rel="apple-touch-icon" href="../icons/apple-touch-icon.png">
  </head>
  <body role="main">
    <p class="title">{title}</p>
    <p class="subtitle">{description}</p>
{posts}
    <div>
        <img class="footer-image" src="../icons/apple-touch-icon.png">
    </div>
  </body>
</html>
