<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content="{description}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="../icons/favicon.ico">
    <link rel="apple-touch-icon" type="image/png" href="../icons/apple-touch-icon.png">
  </head>
  <body>
    <p class="title">{title}</p>
{posts}
  </body>
</html>
