/*
  Body Styling
*/
body {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 0;
  margin-right: 0;
  font-family: "menlo", "andale mono", "courier new", sans-serif;
}

/*
  Title Styling
*/
.title {
  font-size: 14px;
  color: #333333;
  text-align: center;
}

/*
  Post Styling
*/
@media screen and (min-width: 980px) /* Desktop */ {
  .post {
    width: 40%;
  }
}

@media screen and (max-width: 979px) /* Tablet */ {
  .post {
    width: 60%;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  .post {
    width: 80%;
  }
}

.post {
  height: auto;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

/*
  Image Styling
*/
.post img {
  max-width: 100%;
}

/*
  Caption Styling
*/
.post .caption {
  font-size: 12px;
  color: #333333;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

/*
  Date Styling
*/
.post .date {
  font-size: 12px;
  color: #999999;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}
